<p-toast></p-toast>
    <ul class="list-group">
      <a class="list-group-item list-group-item-disabled d-flex justify-content-between" style="background-color:#034078">
    
        <div style="color:white; font-size: larger;"><b>COLOR</b></div>
    
        <div class="mr-5"><button type="button" style="color:white" class="btn btn-link" routerLink="/addColor"><i class="fa fa-plus"></i></button></div>
      
      </a>  
    
    
      <div *ngFor="let color of colors">
    
        <li class="list-group-item list-group-item list-group-item-action d-flex justify-content-between">
    
          <div (click)="getSelectedColorId(color)"><img src="{{color.image}}" style="width:30px ; margin-right: 20px;">{{color.name}}</div>
    
          <div class="mr-5"><button type="button" class="btn btn-link" (click)="deleteColor(color.id)"><i class="fa-solid fa-trash-can" style="color:red"></i></button></div>
      </div>
    </ul>
